.experiences-content-container{
    margin-top: 20px;
}
.work-experience-container{
    margin-top: 20px;
}
.location{
    margin-left: 10px;
}
.ui.mini.image .mini-image-container{
    width: 100px;
}
#company-link{
    color: rgb(55, 53, 47);
    text-decoration: underline;
}
.experience-card{
    background-color: white !important;
    padding: 20px !important;
    border-radius: 20px !important;
}
.summary-div{
    margin-top: 10px;
}
.button-div{
    margin-top: 20px;
}
.company-button-kpmg{
    width: 100%;
    background-color: #1F49E2 !important;
    color: white !important;
}
.company-button-rutgers{
    width: 100%;
    background-color: #CC0133 !important;
    color: white !important;
}
.company-button-whizai{
    width: 100%;
    background-color: #0F2347 !important;
    color: white !important;
}
.company-button-healco{
    width: 100%;
    background-color: #3FD9B7 !important;
    color: white !important;
}
.company-button-qbhacks{
    width: 100%;
    background-color: #F15F40 !important;
    color: white !important;
}
.link{
    color: black;
}
.documents-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 10px;

}